body {
    padding-top: 5rem;
}

.notification {
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

.notification-message {
    background: #9E9E9E;
}

.notification-error {
    background-color: #F44336;
}

.notification-valid {
    background: #4CAF50;
}

table {
    width: 100%;
}

.inline {
    display: inline-block;
}

nav a, nav a:hover {
    color :white;
    text-decoration: none;
}

.no-margin {
    margin: 0;
}